body {
  background-color:#ddf1f3;
}

.top_controls {
   padding: 1%;
}

.add_app {
  display: inline-block;
  padding: 15px 25px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4cb1b1;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  float: right;
}

.add_app:hover {background-color: #27656d;}

.add_app:active {
  background-color: #1d4c6b;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.table {
    width: 50%;
    text-align: center;
}

.container_gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

div.gallery {
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  background-color: white;

  }
  
  div.gallery:hover {
    border: 1px solid #777;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 6px 6px;
    float: left;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  .cardImage {
    padding: 5px;
    height: auto;
    max-width: 300px;
    height: 300px;
    max-height: 300px;
    object-fit: cover;
    background-color: white;
  }