  .container>.logout {
    float: right;
    padding: 5%;
  }

  .containerUploading, .containerApplication {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 40%;
  }

  .child, h2 {
    align-self: flex-start;
    margin: 3%;
    width: 100%;
  }
