/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  
  /* Links inside the navbar */
  .navbar .container>a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 25px;
    text-decoration: none;
  }
  
  /* Change background on mouse-over */
  .navbar .container>a:hover {
    background: #ddd;
    color: black;
  }
  
  /* Main content */
  .main {
    margin-top: 120px; /* Add a top margin to avoid content overlay */
  }

  .title{
      color: #ddd;
      text-align: center;
      font-size:50px;
  }

  .error {
    margin-top: 120px;
    width: 92%;
    padding: 10px; 
    border: 1px solid #a94442; 
    color: #a94442; 
    background: #f2dede; 
    border-radius: 5px; 
    text-align: left;
  }
